IIB_BPM_Integration/IIB_BPM_Integration_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://IIB_BPM_Integration" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://IIB_BPM_Integration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="LengthFinder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" nillable="true" type="xsd:string"/>
                <xsd:element name="Gender" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="LengthFinderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Age" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="GetName">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MobileNum" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="GetNameResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>